html, body, #root {
  background-color: #72767d;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

button {
  border: none;
  outline: none;
}

button:focus, button:hover {
  border: none;
  outline: none;
}
